<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="true"
         backupGlobals="false"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Hizpark ValidationContract Tests">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="display_errors" value="1"/>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
